extends layout

block content
    h1= title

    form(method='POST' action='/')
        div.form-group
            label(for='username') Username:
            input#username.txt-sz.form-control(type='text', placeholder='username' name='username' required='true' )
        div.form-group
            label(for='password') Password:
            input#password.txt-sz.form-control(type='password', name='password' required='true' )
        div.form-group
            button.btn.btn-primary(type='submit') Login

    if msg
        p= msg
    if err
        p= err